:root {
  --white-overlay-btn: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .9));
}

.button {
  background-color: white;
  padding: .9em .8em;
  padding-left: calc(.8em + 48px);
  border-radius: 4px;
  font-size: 16px;
  box-shadow: inset 0 0 0 1px white, 0 0 1px 0px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #6A6A6A;
  background-size: auto, 96px;
  background-position: -10% 10%;
  background-repeat: no-repeat;
  transition: all 300ms ease;
}

.button:hover {
  transform: translateY(-6px);
  background-color: #C0C0C0;
}

.chrome {
  background-image: var(--white-overlay-btn), url("../../img/chrome-icon.png");
}

.chrome>span {
  background: -webkit-linear-gradient(top, #4285f4, #2962BD);
}

.opera {
  background-image: var(--white-overlay-btn), url("../../img/opera-icon.png");
}

.opera > span {
  background: -webkit-linear-gradient(top, #cc0f16, #980910);
}

.firefox {
  background-image: var(--white-overlay-btn), url("../../img/firefox-icon.png");
}

.firefox > span {
  background: -webkit-linear-gradient(top, #ff9500, #e66000);
}

.btd {
  background-image: var(--white-overlay-btn), url("../../img/btd-icon.png");
}

.btd > span {
  background: -webkit-linear-gradient(-45deg, #00A0FB 47%, #00CBFC 100%);
}

.button > span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}