@keyframes animatedBg {
  0% {
    background-position-y: top;
  }

  100% {
    background-position-y: bottom;
  }
}

.header {
  @apply min-h-[200px] bg-[#008cff] flex flex-col items-center justify-center relative after:bg-mesh-gradient dark:after:bg-mesh-gradient-dark after:bg-cover;
}

.header::after {
  content: "";
  filter: blur(20px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg {
  @apply absolute top-0 left-0 right-0 bottom-0 after:top-0 after:left-0 after:right-0 after:bottom-0 after:absolute after:z-10 bg-mesh-gradient dark:bg-mesh-gradient-dark bg-cover after:bg-mesh-gradient dark:after:bg-mesh-gradient-dark after:bg-cover overflow-hidden;
}

.bg,
.bg::after,
.header::after {
  animation-direction: alternate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: animatedBg;
  animation-timing-function: linear;
}

.bg::after {
  z-index: 1;
}

.logoLink {
  @apply no-underline grid justify-center items-center text-white;
  z-index: 1;
  grid-template-areas: "logo . copy";
  grid-template-columns: auto 20px 1fr;
}

.textShadowTitle {
  text-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}
.textShadowSubtitle {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
