@value smaller-than-grid, mobile from "../css/variables.css";

.downloadBtns {
    position: relative;
    z-index: 9;
    text-align: center;
    transform: translateY(-50%);
}

.downloadButton,
.downloadZoneButton {
  margin: 0 12px;
}

.downloadZone {
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .7)), url('../img/download-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.downloadZoneWrapper {
  composes: gridBlock from "../css/variables.css";
  justify-content: center;
  padding: 40px 0 !important;
}

.downloadZoneWrapper h2,
.downloadZoneWrapper p {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.28);
  color: white;
}

.downloadZoneWrapper h2 {
  margin-bottom: 10px;
}

.downloadZoneWrapper p {
  margin: 1em;
  margin-bottom: 2em;
}

.beforeAfter {
  text-align: center;
}

.bigImage {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.52),
  0 5px 15px 0 rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  max-height: 500px;
}

.showMobile {
  display: none;
}

@media mobile {
  .downloadButton:not(.showMobile) {
    display: none;
  }

  .showMobile {
    display: inline-block;
  }

  .downloadZoneBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .downloadZoneButton {
    width: 200px;
    margin: 12px 0;
  }
}