.videoWrapper {
  position: relative;
  font-size: 0; 

  &:focus {
    outline: 0;
  }
}

.videoOverlay {
  background: color(black a(50%));
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 300ms ease;
  z-index: 1;

  color: color(white a(40%));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoOverlay:hover {
  color: color(white a(80%));
}

.videoWrapper.playing .videoOverlay {
  opacity: 0;
}