@value smaller-than-grid, text-color, font-body, font-heading, grid-width from "./variables.css";

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  background: white;
  color: text-color;
  font-size: 16px;
  font-family: font-body;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-heading;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.6;
}

.font-body {
  font-family: font-body;
}

.font-heading {
  font-family: font-heading;
}

.gridBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: grid-width;
  margin: 0 auto;
}

@media smaller-than-grid {
  .gridBlock {
    max-width: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

span.token {
  padding: 2px 6px 3px;
  border-radius: 4px;
  color: white;
  font-size: 90%;
  text-transform: uppercase;
  font-family: system-ui;
  font-weight: 500;
  text-shadow: 0 1px 1px color(black a(0.6));
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(transparent, color(black a(0.2)));
}

span.token.-meta {
  background-color: hsl(196, 99%, 60%);
}

span.token.-feature {
  background-color: hsl(108, 99%, 40%);
}

span.token.-bugfix {
  background-color: hsl(136, 0%, 50%);
}

span.token.-improvement {
  background-color: hsl(47, 99%, 60%);
}