@value --grid-width: 960px;
@value --white-overlay-btn: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .9));
@value --font-body: 'Lato', system-ui, -apple-system, sans-serif;
@value --font-heading: 'PT Sans', sans-serif;
@value --text-color: #4A4A4A;
@value --btd-gradient: linear-gradient(-45deg, #00A0FB 47%, #00CBFC 100%);

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body {
  background: white;
  color: --text-color;
  font-size: 16px;
  line-height: 1.4;
  font-family: --font-body;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: --font-heading;
}

.font-body {
  font-family: --font-body;
}

.font-heading {
  font-family: --font-heading;
}

.gridBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: --grid-width;
  margin: 0 auto;
}

@media (max-width: --grid-width) {
  .gridBlock {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }
}