@value --grid-width from "../../css/index.css";

.textSection {
  width: 100%;
  background: white;
  position: relative;
  padding: 32px 0;
}

.textSection:nth-of-type(even) {
  background: #f8f8f8;
}

.textSection:nth-of-type(even) .sectionCopy {
  margin-right: 0;
  margin-left: 60px;
  order: 2;
}

.textSection:nth-of-type(even) .sectionImage {
  order: 1;
}

.textSectionGrid {
  composes: gridBlock from "../../css/index.css";
}

.textSection > div {
  justify-content: space-around;
}

.sectionCopy {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}

.sectionCopy > h4 {
  font-size: 19px;
}

.sectionCopy > h4 + p {
  margin: 1em 0;
}

.sectionParagraph {
  font-size: 16px;
  composes: font-body from '../../css/index.css';
}

.sectionImage {
  float: right;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.52), 0 5px 15px 0 rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  max-height: 400px;
}