@value smaller-than-grid from "../../css/variables.css";

.textSection {
  width: 100%;
  background: white;
  position: relative;
  padding: 32px 0;
}

.textSection:nth-of-type(even) {
  background: #f8f8f8;
}

.textSection:nth-of-type(even) .sectionCopy {
  margin-right: 0;
  margin-left: 60px;
  order: 2;
}

.textSection:nth-of-type(even) .sectionImage {
  order: 1;
}

.textSectionGrid {
  composes: gridBlock from "../../css/global.css";
}

.textSectionGrid.vertical {
  flex-direction: column;
}

.textSection > div {
  justify-content: space-around;
}

.sectionCopy {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}

.textSectionGrid.vertical .sectionCopy {
  margin-right: 0;
  margin-bottom: 30px;
}

.sectionCopy > h4 {
  font-size: 19px;
}

.sectionCopy > h4 + p {
  margin: 1em 0;
}

.sectionCopy a {
  color: #3593e6;
}

.sectionCopy a:hover {
  color: #20588a;
}

.sectionParagraph {
  font-size: 16px;
  composes: font-body from '../../css/global.css';
}

.sectionVideoWrapper {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.52),
  0 5px 15px 0 rgba(0, 0, 0, 0.27);
  background: black;
}

.sectionVideo {
  background: black;
  max-width: 100%;
}

.sectionImage {
  /* float: right; */
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.52), 0 5px 15px 0 rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  height: auto;
  max-width: 100%;
  background: black;
}

@media smaller-than-grid {
  .textSection.textSection .sectionCopy {
    order: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .textSection {
    padding: 20px;
  }

  .sectionImage,
  .sectionVideoWrapper {
    order: 2;
  }

  .sectionVideo,
  .sectionImage {
    width: 100%;
    max-height: none !important;
  }
}