@value grid-width from "../../css/variables.css";

.list {
  background-color: #3089c9;
  color: white;
}

.list {
  padding: 50px 0;
  position: relative;
}

.list h4 {
  font-size: 22px;
  color: white;
  width: 100%;
  flex-shrink: 0;
}

.listGrid {
  composes: gridBlock from "../../css/global.css";
}

.list :matches(ul, li) {
  list-style: none;
}

.list ul {
  margin-top: 20px;
  flex: 1;
  font-size: 13px;
  line-height: 1.6em;
  column-count: 3;
  column-gap: 2em;
}

.list ul li {
  list-style-type: disc;
  list-style-position: inside;
}