@value text-color, mobile from "../../css/variables.css";

.footer {
  justify-content: space-between;
  background: white;
  color: text-color;
  padding: 20px;
  composes: gridBlock from "../../css/global.css";
}

.menu {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}

.menu a {
  color: text-color;
  text-decoration: none;
  margin-left: 20px;
}

.menu a:hover {
  color: black;
  text-decoration: underline;
}

@media mobile {
  small {
    text-align: left;
  }
  .menu {
    text-align: left;
    margin: 20px 0;
  }

  .menu a {
    margin-left: 0;
    margin-right: 20px;
  }
}