@value --grid-width, --text-color from "../../css/index.css";

.footer {
  justify-content: space-between;
  background: white;
  color: --text-color;
  padding: 20px;
  composes: gridBlock from "../../css/index.css";
}

.menu {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
}

.menu a {
  color: --text-color;
  text-decoration: none;
  margin-left: 20px;
}

.menu a:hover {
  color: black;
  text-decoration: underline;
}